body {
    margin: 0px;
    text-align: center; 
}

div {

}

p {
    font-family: 'Roboto', sans-serif;
}

hr {
  border: 0 solid #8db596;
  border-top-width: 1px;
  height: 0;
  margin: 60px auto;
  clear: both;
  display: block;
  width: 400px;
  position: relative;
}

hr {transform:scale(2)}

h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    margin-top: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;

}

h3 {
    font-family: 'Roboto', sans-serif;

}

.top-container {
    background-color: #d9ecf2;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.roundImage {
    border-radius: 50%;
}
